@import "./mixins.scss";

:root {
  --color-black: #0b060e;
  --color-gray: #535353;

  --color-white-1: #fefefe;
  --color-white-2: #f7fbff;
  --color-white-3: #d3d0ce;

  --color-theme-1: #6a478d; 
  --color-theme-2: #d2cfcd;
  --color-theme-3: #00ebf9; 
}

.content-menu-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid #f7fbff;
  background-color: #fefefe; /* Color de fondo */
  border-color: #c0bdbd;
  border-radius: 2px;

  .content-info-user {
    @include generate-flex-container(
      column,
      null,
      center,
      null,
      flex-start,
      0.5em
    );
    padding: 1.5em 2em 2em 4.5em;
    background-color: #533893;
    width: auto;
    height: 180px;

    p {
      font-size: 1.3em;
      color: #fefefe;
      margin: 0;
      padding: 0;
    }
  }
  .content-cerrar {
    width: 20%;
    right: 0px;
    position: absolute;
  }
  .button-header {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    width: 50%;
    cursor: pointer;
  }

  .content-options-user {
    @include generate-flex-container(
      column,
      null,
      space-evenly,
      null,
      null,
      null
    );
    width: 100%;
    //justify-items: center;
    //align-items: self-start;
    width: auto;
    height: 180px;

    p {
      font-size: 0.9em;
      margin-left: 3.5em;
      font-weight: bold;
      cursor: pointer;
    }

    .content-option {
      border-bottom: 1px solid var(--color-white-3);
      padding: 12px;
    }
  }
  .content-logos {
    .content-foot {
      position: absolute;
      bottom: 0;
      border-top: 1px ridge var(--color-white-3);
      @include generate-flex-container(
        column,
        null,
        center,
        null,
        center,
        null
      );

      img {
        height: auto;
        max-width: 55%;
        max-height: 55%;
        margin-top: 1em;
      }
    }
  }
}

@media (min-width: 1024px) {
  .content-menu-user {
    position: absolute;
    width: 310px; /* Ajusta el ancho según tus necesidades */
    height: 100vh; /* O ajusta la altura según tus necesidades */
    border: 1px solid #f7fbff;
    background-color: #fefefe; /* Color de fondo */
    border-color: #c0bdbd;
    border-radius: 2px;
    right: 0;
    left: unset;

    .content-info-user {
      @include generate-flex-container(
        column,
        null,
        center,
        null,
        flex-start,
        0.5em
      );
      padding: 1.5em 2em 2em 4.5em;
      background-color: #533893;
      width: auto;
      height: 180px;

      p {
        font-size: 1.3em;
        color: #fefefe;
        margin: 0;
        padding: 0;
      }
    }
    .content-cerrar {
      width: 20%;
      right: 0px;
      position: absolute;
    }
    .button-header {
      margin-top: 20px;
      border: none;
      background-color: transparent;
      width: 50%;
      img {
        max-width: 75%;
        height: auto;
        cursor: pointer;
      }
    }

    .content-options-user {
      @include generate-flex-container(
        column,
        null,
        space-evenly,
        null,
        null,
        null
      );
      width: 100%;
      //justify-items: center;
      //align-items: self-start;
      width: auto;
      height: 180px;

      p {
        font-size: 0.9em;
        margin-left: 3.5em;
        font-weight: bold;
        cursor: pointer;
      }

      .content-option {
        border-bottom: 1px solid var(--color-white-3);
        padding: 12px;
      }
    }
    .content-logos {
      .content-foot {
        position: absolute;
        bottom: 0;
        border-top: 1px ridge var(--color-white-3);
        @include generate-flex-container(
          column,
          null,
          center,
          null,
          center,
          null
        );

        img {
          height: auto;
          max-width: 55%;
          max-height: 55%;
          margin-top: 1em;
        }
      }
    }
  }
}
